
	<% @posts.each do |post| %>
	<div class="genie-box text-center col-xs-12 col-xs-offset1 col-md-4 col-md-offset-1">
		<h1>
			<%= post.title %>
		</h1>


		<%= image_tag post.image %>

		<%= post.description %>


	</div>
<% end %>


