<div class="genie-box col-xs-6 col-xs-offset-3 text-center">

<h2>
	Upload Your Funny Image
</h2>

<br/>
<br/>


	<%= simple_form_for @post do |f| %>
		<%= f.input :title, label: 'What is this image about?', placeholder: 'Drunken Monkey, Racy Rat, Enormous Elephant' %>
		<br/>
		<%= f.input :description, label: 'Tell me more', placeholder: 'This monkey drank a beer and stumbled through the jungle' %>
		<br/>
		<%= f.button :submit, :class=> 'btn btn-warning' %>

	<% end %>

</div>